* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
 
    margin: 25px 30px;
}

.message {
    margin: 18px 30px;
    align-items: center;
    text-transform: uppercase;
}

.gifs {
    margin: 20px 30px;
}






